doctype html
html
  head
    title User CRUD App
    link(rel='stylesheet' 
      href='/bower_components/bootstrap/dist/css/bootstrap.css'
    )
    link(rel='stylesheet' href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body 
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') Users
      button.navbar-toggler(type='button', data-toggle='collapse', 
        data-target='#navbarsExampleDefault', 
        aria-controls='navbarsExampleDefault', 
        aria-expanded='false', aria-label='Toggle navigation'
      )
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='/add', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Create
            .dropdown-menu(aria-labelledby='dropdownCreate')
                a.dropdown-item(href='/options/add') Options
                a.dropdown-item(href='/equipment/add') Equipment
                a.dropdown-item(href='/users/add') Users
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='/query', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Read
            .dropdown-menu(aria-labelledby='dropdownRead')
                a.dropdown-item(href='/options/query') Options
                a.dropdown-item(href='/equipment/query') Equipment
                a.dropdown-item(href='/users/query') Users
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='/edit', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Update
            .dropdown-menu(aria-labelledby='dropdownUpdate')
                a.dropdown-item(href='/options/edit') Options
                a.dropdown-item(href='/equipment/edit') Equipment
                a.dropdown-item(href='/users/edit') Users
          li.nav-item.dropdown
            a#dropdown01.nav-link.dropdown-toggle(href='/delete', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Delete
            .dropdown-menu(aria-labelledby='dropdownDelete')
                a.dropdown-item(href='/options/delete') Options
                a.dropdown-item(href='/equipment/delete') Equipment
                a.dropdown-item(href='/users/delete') Users
        ul.nav.navbar-nav.navbar-right 
          if user
            li.nav-item 
              a.nav-link(href='/users/logout') 
                | Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') 
                | Register
            li.nav-item
              a.nav-link(href='/users/login') 
                | Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Developed and maintained by Pwalo @ <a href='http://heyscloud.co.uk'>
          | Heyscloud</a>, info@heyscloud.co.uk
        p Copyright  &copy; 2018 Pwalo Briars
    script(src='/bower_components/jquery/dist/jquery.js') 
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')    
