extends layout

block content
    if user
      h1 #{title} 
      form(method='POST', action='/users/edit/'+user._id)
        #form-group
          label User:
          input.form-control(name='email', type='text', value=user.email)          
        #form-group
          label First Name:
          input.form-control(name='firstName', type='text', value=user.firstName)
        #form-group
          label Last Name:
          input.form-control(name='lastName', type='text', value=user.lastName)
        #form-group
          label Super Administrator:
          input.form-control(name='superAdmin', type='boolean', value=user.superAdmin)
        br
        input.btn.btn-primary(type='submit', value='Submit')
    else
      h3 Administrators Only
      p Contact RIT if you need to add a system user
      